<%- include('header', {title}); -%>

  <header>
    <%- include('navbar'); -%>
      <h1 class="display-1 text-center">Create Poll</h1>
  </header>

  <section class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 my-5">

        <form action="/create-poll" method="POST" class="shadow p-4">
          <div class="mb-3">
            <label for="title" class="form-label">Enter Poll Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="poll title">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Enter Poll Description</label>
            <textarea class="form-control" placeholder="poll description" id="description" name="description"
              style="height: 100px"></textarea>
          </div>

          <div id="options">
            <div class="input-group">
              <span class="input-group-text">Option</span>
              <input type="text" class="form-control" name="options">
            </div>
            <div class="input-group">
              <span class="input-group-text">Option</span>
              <input type="text" class="form-control" name="options">
            </div>
            <div class="input-group">
              <span class="input-group-text">Option</span>
              <input type="text" class="form-control" name="options">
            </div>
          </div>
          <button class="btn btn-secondary btn-sm mb-3" id="optionsBtn">Add more</button>

          <input type="submit" value="Create A Poll" class="btn btn-primary w-100">
        </form>
      </div>
    </div>
  </section>

  <script>
    const options = document.getElementById("options");
    const optionsBtn = document.getElementById("optionsBtn");

    optionsBtn.addEventListener('click', function (e) {
      e.preventDefault()
      options.appendChild(createOptions())
    })

    function createOptions() {
      const div = document.createElement('div')
      div.className = 'input-group'
      div.innerHTML = `<span class="input-group-text">Option</span>
              <input type="text" class="form-control" name="options">`
      return div
    }

  </script>

  <%- include('footer'); -%>