<%- include('header'); -%>
  <header>
    <%- include('navbar'); -%>
      <h1 class="display-1 text-center">View Polls</h1>
  </header>

  <section class="container">
    <div class="row">

      <div class="col-md-6 offset-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="/view-polls/0011" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 offset-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="/view-polls/0011" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <%- include('footer'); -%>